In [206]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd 
import math

In [207]:
#  Import and read the charity_data.csv.
df = pd.read_csv("Resources/charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [208]:
#drop nonmeaningful variables
df = df.drop("EIN",axis=1).drop("NAME",axis=1)
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [209]:
#number of unique values for each variable
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [210]:
#number of instances of each value for variables with at least 10 distinct values
print(df["APPLICATION_TYPE"].value_counts())
print(df["CLASSIFICATION"].value_counts())
print(df["ASK_AMT"].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [211]:
# APPLICATION_TYPEs with fewer than 15 instances are lumped into other
binneddf = df
counts = df["APPLICATION_TYPE"].value_counts()
for APPLICATION_TYPE in df["APPLICATION_TYPE"].unique():
    if counts[APPLICATION_TYPE] < 15:
        binneddf["APPLICATION_TYPE"] = binneddf["APPLICATION_TYPE"].replace(APPLICATION_TYPE, "other")

binneddf["APPLICATION_TYPE"].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
other       11
Name: APPLICATION_TYPE, dtype: int64

In [212]:
# CLASSIFICATIONs with fewer than 100 instances are lumped into other
counts = df["CLASSIFICATION"].value_counts()
for CLASSIFICATION in df["CLASSIFICATION"].unique():
    if counts[CLASSIFICATION] < 100:
        binneddf["CLASSIFICATION"] = binneddf["CLASSIFICATION"].replace(CLASSIFICATION, "other")

binneddf["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [213]:
#look at the dataframe so far
binneddf

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [214]:
# turn categorical data into numerical data
dummied = pd.get_dummies(binneddf)
dummied

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0

In [215]:
# split and scale the data
X = dummied.drop("IS_SUCCESSFUL",axis=1)
y = dummied["IS_SUCCESSFUL"]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
X_scaler = StandardScaler()
X_scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [216]:
#check the number of X columns
X_train_scaled.shape

(25724, 53)

In [217]:
# define the topology of the neural network
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=53, activation="relu", input_dim=53))
nn_model.add(tf.keras.layers.Dense(units=20, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=12, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
nn_model.summary()

Model: "sequential_22"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_88 (Dense)            (None, 53)                2862

 dense_89 (Dense)            (None, 20)                1080

 dense_90 (Dense)            (None, 12)                252

 dense_91 (Dense)            (None, 1)                 13

=================================================================
Total params: 4,207
Trainable params: 4,207
Non-trainable params: 0
_________________________________________________________________

In [218]:
# make a function to save checkpoints
cp_callback = tf.keras.callbacks.ModelCheckpoint(filepath="checkpoints", save_weights_only=True,verbose=1)

In [219]:
#train the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100,callbacks=[cp_callback])

Epoch 1/100
802/804 [============================>.] - ETA: 0s - loss: 0.5733 - accuracy: 0.7202
Epoch 1: saving model to checkpoints
804/804 [==============================] - 1s 975us/step - loss: 0.5732 - accuracy: 0.7203
Epoch 2/100
802/804 [============================>.] - ETA: 0s - loss: 0.5534 - accuracy: 0.7300
Epoch 2: saving model to checkpoints
804/804 [==============================] - 1s 977us/step - loss: 0.5533 - accuracy: 0.7299
Epoch 3/100
774/804 [===========================>..] - ETA: 0s - loss: 0.5502 - accuracy: 0.7324
Epoch 3: saving model to checkpoints
804/804 [==============================] - 1s 950us/step - loss: 0.5509 - accuracy: 0.7315
Epoch 4/100
789/804 [============================>.] - ETA: 0s - loss: 0.5490 - accuracy: 0.7327
Epoch 4: saving model to checkpoints
804/804 [==============================] - 1s 989us/step - loss: 0.5484 - accuracy: 0.7334
Epoch 5/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5484 - accuracy: 0.7330
Epoch 5: saving model to checkpoints
804/804 [==============================] - 1s 968us/step - loss: 0.5472 - accuracy: 0.7330
Epoch 6/100
790/804 [============================>.] - ETA: 0s - loss: 0.5465 - accuracy: 0.7336
Epoch 6: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7334
Epoch 7/100
772/804 [===========================>..] - ETA: 0s - loss: 0.5460 - accuracy: 0.7346
Epoch 7: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7341
Epoch 8/100
803/804 [============================>.] - ETA: 0s - loss: 0.5449 - accuracy: 0.7351
Epoch 8: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7351
Epoch 9/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5443 - accuracy: 0.7343
Epoch 9: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7344
Epoch 10/100
758/804 [===========================>..] - ETA: 0s - loss: 0.5448 - accuracy: 0.7334
Epoch 10: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7342
Epoch 11/100
802/804 [============================>.] - ETA: 0s - loss: 0.5437 - accuracy: 0.7360
Epoch 11: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7360
Epoch 12/100
768/804 [===========================>..] - ETA: 0s - loss: 0.5427 - accuracy: 0.7366
Epoch 12: saving model to checkpoints
804/804 [==============================] - 1s 951us/step - loss: 0.5433 - accuracy: 0.7357
Epoch 13/100
784/804 [============================>.] - ETA: 0s - loss: 0.5419 - accuracy: 0.7362
Epoch 13: saving model to checkpoints
804/804 [==============================] - 1s 995us/step - loss: 0.5427 - accuracy: 0.7354
Epoch 14/100
766/804 [===========================>..] - ETA: 0s - loss: 0.5418 - accuracy: 0.7365
Epoch 14: saving model to checkpoints
804/804 [==============================] - 1s 955us/step - loss: 0.5422 - accuracy: 0.7364
Epoch 15/100
795/804 [============================>.] - ETA: 0s - loss: 0.5415 - accuracy: 0.7375
Epoch 15: saving model to checkpoints
804/804 [==============================] - 1s 918us/step - loss: 0.5416 - accuracy: 0.7375
Epoch 16/100
771/804 [===========================>..] - ETA: 0s - loss: 0.5425 - accuracy: 0.7357
Epoch 16: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7362
Epoch 17/100
764/804 [===========================>..] - ETA: 0s - loss: 0.5428 - accuracy: 0.7343
Epoch 17: saving model to checkpoints
804/804 [==============================] - 1s 947us/step - loss: 0.5418 - accuracy: 0.7352
Epoch 18/100
800/804 [============================>.] - ETA: 0s - loss: 0.5417 - accuracy: 0.7354
Epoch 18: saving model to checkpoints
804/804 [==============================] - 1s 911us/step - loss: 0.5413 - accuracy: 0.7357
Epoch 19/100
780/804 [============================>.] - ETA: 0s - loss: 0.5421 - accuracy: 0.7364
Epoch 19: saving model to checkpoints
804/804 [==============================] - 1s 930us/step - loss: 0.5415 - accuracy: 0.7369
Epoch 20/100
748/804 [==========================>...] - ETA: 0s - loss: 0.5396 - accuracy: 0.7369
Epoch 20: saving model to checkpoints
804/804 [==============================] - 1s 897us/step - loss: 0.5401 - accuracy: 0.7371
Epoch 21/100
785/804 [============================>.] - ETA: 0s - loss: 0.5414 - accuracy: 0.7371
Epoch 21: saving model to checkpoints
804/804 [==============================] - 1s 924us/step - loss: 0.5403 - accuracy: 0.7378
Epoch 22/100
792/804 [============================>.] - ETA: 0s - loss: 0.5396 - accuracy: 0.7383
Epoch 22: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7378
Epoch 23/100
768/804 [===========================>..] - ETA: 0s - loss: 0.5401 - accuracy: 0.7372
Epoch 23: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 24/100
803/804 [============================>.] - ETA: 0s - loss: 0.5398 - accuracy: 0.7395
Epoch 24: saving model to checkpoints
804/804 [==============================] - 1s 977us/step - loss: 0.5399 - accuracy: 0.7394
Epoch 25/100
762/804 [===========================>..] - ETA: 0s - loss: 0.5381 - accuracy: 0.7394
Epoch 25: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7388
Epoch 26/100
791/804 [============================>.] - ETA: 0s - loss: 0.5383 - accuracy: 0.7385
Epoch 26: saving model to checkpoints
804/804 [==============================] - 1s 999us/step - loss: 0.5386 - accuracy: 0.7384
Epoch 27/100
793/804 [============================>.] - ETA: 0s - loss: 0.5383 - accuracy: 0.7397
Epoch 27: saving model to checkpoints
804/804 [==============================] - 1s 990us/step - loss: 0.5388 - accuracy: 0.7393
Epoch 28/100
803/804 [============================>.] - ETA: 0s - loss: 0.5382 - accuracy: 0.7391
Epoch 28: saving model to checkpoints
804/804 [==============================] - 1s 977us/step - loss: 0.5381 - accuracy: 0.7392
Epoch 29/100
787/804 [============================>.] - ETA: 0s - loss: 0.5391 - accuracy: 0.7383
Epoch 29: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7391
Epoch 30/100
768/804 [===========================>..] - ETA: 0s - loss: 0.5388 - accuracy: 0.7380
Epoch 30: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7387
Epoch 31/100
801/804 [============================>.] - ETA: 0s - loss: 0.5381 - accuracy: 0.7384
Epoch 31: saving model to checkpoints
804/804 [==============================] - 1s 975us/step - loss: 0.5379 - accuracy: 0.7386
Epoch 32/100
756/804 [===========================>..] - ETA: 0s - loss: 0.5383 - accuracy: 0.7378
Epoch 32: saving model to checkpoints
804/804 [==============================] - 1s 964us/step - loss: 0.5381 - accuracy: 0.7379
Epoch 33/100
793/804 [============================>.] - ETA: 0s - loss: 0.5375 - accuracy: 0.7395
Epoch 33: saving model to checkpoints
804/804 [==============================] - 1s 993us/step - loss: 0.5378 - accuracy: 0.7392
Epoch 34/100
772/804 [===========================>..] - ETA: 0s - loss: 0.5377 - accuracy: 0.7390
Epoch 34: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7387
Epoch 35/100
793/804 [============================>.] - ETA: 0s - loss: 0.5379 - accuracy: 0.7388
Epoch 35: saving model to checkpoints
804/804 [==============================] - 1s 988us/step - loss: 0.5374 - accuracy: 0.7393
Epoch 36/100
755/804 [===========================>..] - ETA: 0s - loss: 0.5376 - accuracy: 0.7386
Epoch 36: saving model to checkpoints
804/804 [==============================] - 1s 969us/step - loss: 0.5372 - accuracy: 0.7389
Epoch 37/100

797/804 [============================>.] - ETA: 0s - loss: 0.5362 - accuracy: 0.7393
Epoch 37: saving model to checkpoints
804/804 [==============================] - 1s 992us/step - loss: 0.5371 - accuracy: 0.7388
Epoch 38/100
792/804 [============================>.] - ETA: 0s - loss: 0.5362 - accuracy: 0.7397
Epoch 38: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7390
Epoch 39/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5371 - accuracy: 0.7398
Epoch 39: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7401
Epoch 40/100
799/804 [============================>.] - ETA: 0s - loss: 0.5365 - accuracy: 0.7399
Epoch 40: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7395
Epoch 41/100
779/804 [============================>.] - ETA: 0s - loss: 0.5365 - accuracy: 0.7392
Epoch 41: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 42/100
794/804 [============================>.] - ETA: 0s - loss: 0.5359 - accuracy: 0.7404
Epoch 42: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7403
Epoch 43/100
780/804 [============================>.] - ETA: 0s - loss: 0.5371 - accuracy: 0.7401
Epoch 43: saving model to checkpoints
804/804 [==============================] - 1s 995us/step - loss: 0.5366 - accuracy: 0.7401
Epoch 44/100
755/804 [===========================>..] - ETA: 0s - loss: 0.5361 - accuracy: 0.7400
Epoch 44: saving model to checkpoints
804/804 [==============================] - 1s 961us/step - loss: 0.5362 - accuracy: 0.7400
Epoch 45/100
780/804 [============================>.] - ETA: 0s - loss: 0.5359 - accuracy: 0.7396
Epoch 45: saving model to checkpoints
804/804 [==============================] - 1s 940us/step - loss: 0.5362 - accuracy: 0.7395
Epoch 46/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5356 - accuracy: 0.7410
Epoch 46: saving model to checkpoints
804/804 [==============================] - 1s 950us/step - loss: 0.5360 - accuracy: 0.7401
Epoch 47/100
801/804 [============================>.] - ETA: 0s - loss: 0.5363 - accuracy: 0.7393
Epoch 47: saving model to checkpoints
804/804 [==============================] - 1s 913us/step - loss: 0.5360 - accuracy: 0.7394
Epoch 48/100
791/804 [============================>.] - ETA: 0s - loss: 0.5363 - accuracy: 0.7397
Epoch 48: saving model to checkpoints
804/804 [==============================] - 1s 920us/step - loss: 0.5360 - accuracy: 0.7400
Epoch 49/100
748/804 [==========================>...] - ETA: 0s - loss: 0.5362 - accuracy: 0.7405
Epoch 49: saving model to checkpoints
804/804 [==============================] - 1s 907us/step - loss: 0.5357 - accuracy: 0.7402
Epoch 50/100
763/804 [===========================>..] - ETA: 0s - loss: 0.5359 - accuracy: 0.7396
Epoch 50: saving model to checkpoints
804/804 [==============================] - 1s 946us/step - loss: 0.5354 - accuracy: 0.7404
Epoch 51/100
749/804 [==========================>...] - ETA: 0s - loss: 0.5359 - accuracy: 0.7406
Epoch 51: saving model to checkpoints
804/804 [==============================] - 1s 905us/step - loss: 0.5357 - accuracy: 0.7401
Epoch 52/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5349 - accuracy: 0.7415
Epoch 52: saving model to checkpoints
804/804 [==============================] - 1s 886us/step - loss: 0.5354 - accuracy: 0.7406
Epoch 53/100
795/804 [============================>.] - ETA: 0s - loss: 0.5357 - accuracy: 0.7403
Epoch 53: saving model to checkpoints
804/804 [==============================] - 1s 916us/step - loss: 0.5355 - accuracy: 0.7406
Epoch 54/100
761/804 [===========================>..] - ETA: 0s - loss: 0.5353 - accuracy: 0.7406
Epoch 54: saving model to checkpoints
804/804 [==============================] - 1s 963us/step - loss: 0.5351 - accuracy: 0.7407
Epoch 55/100
797/804 [============================>.] - ETA: 0s - loss: 0.5344 - accuracy: 0.7407
Epoch 55: saving model to checkpoints
804/804 [==============================] - 1s 914us/step - loss: 0.5347 - accuracy: 0.7404
Epoch 56/100
746/804 [==========================>...] - ETA: 0s - loss: 0.5331 - accuracy: 0.7413
Epoch 56: saving model to checkpoints
804/804 [==============================] - 1s 899us/step - loss: 0.5348 - accuracy: 0.7403
Epoch 57/100
747/804 [==========================>...] - ETA: 0s - loss: 0.5338 - accuracy: 0.7415
Epoch 57: saving model to checkpoints
804/804 [==============================] - 1s 900us/step - loss: 0.5346 - accuracy: 0.7409
Epoch 58/100
746/804 [==========================>...] - ETA: 0s - loss: 0.5347 - accuracy: 0.7393
Epoch 58: saving model to checkpoints
804/804 [==============================] - 1s 910us/step - loss: 0.5344 - accuracy: 0.7395
Epoch 59/100
780/804 [============================>.] - ETA: 0s - loss: 0.5349 - accuracy: 0.7398
Epoch 59: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 60/100
759/804 [===========================>..] - ETA: 0s - loss: 0.5351 - accuracy: 0.7406
Epoch 60: saving model to checkpoints
804/804 [==============================] - 1s 955us/step - loss: 0.5346 - accuracy: 0.7408
Epoch 61/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5347 - accuracy: 0.7410
Epoch 61: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7407
Epoch 62/100
801/804 [============================>.] - ETA: 0s - loss: 0.5346 - accuracy: 0.7414
Epoch 62: saving model to checkpoints
804/804 [==============================] - 1s 977us/step - loss: 0.5345 - accuracy: 0.7414
Epoch 63/100
783/804 [============================>.] - ETA: 0s - loss: 0.5345 - accuracy: 0.7408
Epoch 63: saving model to checkpoints
804/804 [==============================] - 1s 994us/step - loss: 0.5344 - accuracy: 0.7407
Epoch 64/100
787/804 [============================>.] - ETA: 0s - loss: 0.5337 - accuracy: 0.7419
Epoch 64: saving model to checkpoints
804/804 [==============================] - 1s 991us/step - loss: 0.5342 - accuracy: 0.7415
Epoch 65/100
760/804 [===========================>..] - ETA: 0s - loss: 0.5338 - accuracy: 0.7419
Epoch 65: saving model to checkpoints
804/804 [==============================] - 1s 948us/step - loss: 0.5341 - accuracy: 0.7413
Epoch 66/100
781/804 [============================>.] - ETA: 0s - loss: 0.5346 - accuracy: 0.7409
Epoch 66: saving model to checkpoints
804/804 [==============================] - 1s 996us/step - loss: 0.5343 - accuracy: 0.7412
Epoch 67/100
762/804 [===========================>..] - ETA: 0s - loss: 0.5338 - accuracy: 0.7413
Epoch 67: saving model to checkpoints
804/804 [==============================] - 1s 963us/step - loss: 0.5339 - accuracy: 0.7411
Epoch 68/100
779/804 [============================>.] - ETA: 0s - loss: 0.5344 - accuracy: 0.7403
Epoch 68: saving model to checkpoints
804/804 [==============================] - 1s 994us/step - loss: 0.5340 - accuracy: 0.7411
Epoch 69/100
803/804 [============================>.] - ETA: 0s - loss: 0.5337 - accuracy: 0.7404
Epoch 69: saving model to checkpoints
804/804 [==============================] - 1s 972us/step - loss: 0.5338 - accuracy: 0.7403
Epoch 70/100
765/804 [===========================>..] - ETA: 0s - loss: 0.5336 - accuracy: 0.7413
Epoch 70: saving model to checkpoints
804/804 [==============================] - 1s 954us/step - loss: 0.5339 - accuracy: 0.7407
Epoch 71/100
768/804 [===========================>..] - ETA: 0s - loss: 0.5340 - accuracy: 0.7407
Epoch 71: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7409
Epoch 72/100
800/804 [============================>.] - ETA: 0s - loss: 0.5343 - accuracy: 0.7413
Epoch 72: saving model to checkpoints
804/804 [==============================] - 1s 975us/step - loss: 0.5341 - accuracy: 0.7414
Epoch 73/100

749/804 [==========================>...] - ETA: 0s - loss: 0.5332 - accuracy: 0.7434
Epoch 73: saving model to checkpoints
804/804 [==============================] - 1s 965us/step - loss: 0.5339 - accuracy: 0.7416
Epoch 74/100
753/804 [===========================>..] - ETA: 0s - loss: 0.5331 - accuracy: 0.7417
Epoch 74: saving model to checkpoints
804/804 [==============================] - 1s 966us/step - loss: 0.5338 - accuracy: 0.7406
Epoch 75/100
759/804 [===========================>..] - ETA: 0s - loss: 0.5347 - accuracy: 0.7410
Epoch 75: saving model to checkpoints
804/804 [==============================] - 1s 960us/step - loss: 0.5339 - accuracy: 0.7413
Epoch 76/100
785/804 [============================>.] - ETA: 0s - loss: 0.5339 - accuracy: 0.7415
Epoch 76: saving model to checkpoints
804/804 [==============================] - 1s 991us/step - loss: 0.5336 - accuracy: 0.7418
Epoch 77/100
791/804 [============================>.] - ETA: 0s - loss: 0.5343 - accuracy: 0.7413
Epoch 77: saving model to checkpoints
804/804 [==============================] - 1s 982us/step - loss: 0.5341 - accuracy: 0.7413
Epoch 78/100
776/804 [===========================>..] - ETA: 0s - loss: 0.5338 - accuracy: 0.7401
Epoch 78: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7404
Epoch 79/100
761/804 [===========================>..] - ETA: 0s - loss: 0.5336 - accuracy: 0.7415
Epoch 79: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7415
Epoch 80/100
782/804 [============================>.] - ETA: 0s - loss: 0.5337 - accuracy: 0.7408
Epoch 80: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7413
Epoch 81/100
748/804 [==========================>...] - ETA: 0s - loss: 0.5334 - accuracy: 0.7418
Epoch 81: saving model to checkpoints
804/804 [==============================] - 1s 962us/step - loss: 0.5332 - accuracy: 0.7414
Epoch 82/100
758/804 [===========================>..] - ETA: 0s - loss: 0.5341 - accuracy: 0.7404
Epoch 82: saving model to checkpoints
804/804 [==============================] - 1s 971us/step - loss: 0.5332 - accuracy: 0.7418
Epoch 83/100
790/804 [============================>.] - ETA: 0s - loss: 0.5340 - accuracy: 0.7391
Epoch 83: saving model to checkpoints
804/804 [==============================] - 1s 926us/step - loss: 0.5332 - accuracy: 0.7400
Epoch 84/100
804/804 [==============================] - ETA: 0s - loss: 0.5332 - accuracy: 0.7409
Epoch 84: saving model to checkpoints
804/804 [==============================] - 1s 911us/step - loss: 0.5332 - accuracy: 0.7409
Epoch 85/100
776/804 [===========================>..] - ETA: 0s - loss: 0.5330 - accuracy: 0.7411
Epoch 85: saving model to checkpoints
804/804 [==============================] - 1s 940us/step - loss: 0.5329 - accuracy: 0.7413
Epoch 86/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5337 - accuracy: 0.7415
Epoch 86: saving model to checkpoints
804/804 [==============================] - 1s 887us/step - loss: 0.5334 - accuracy: 0.7413
Epoch 87/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5346 - accuracy: 0.7402
Epoch 87: saving model to checkpoints
804/804 [==============================] - 1s 894us/step - loss: 0.5331 - accuracy: 0.7414
Epoch 88/100
798/804 [============================>.] - ETA: 0s - loss: 0.5325 - accuracy: 0.7410
Epoch 88: saving model to checkpoints
804/804 [==============================] - 1s 913us/step - loss: 0.5330 - accuracy: 0.7406
Epoch 89/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5319 - accuracy: 0.7426
Epoch 89: saving model to checkpoints
804/804 [==============================] - 1s 896us/step - loss: 0.5327 - accuracy: 0.7419
Epoch 90/100
749/804 [==========================>...] - ETA: 0s - loss: 0.5329 - accuracy: 0.7406
Epoch 90: saving model to checkpoints
804/804 [==============================] - 1s 902us/step - loss: 0.5327 - accuracy: 0.7408
Epoch 91/100
798/804 [============================>.] - ETA: 0s - loss: 0.5334 - accuracy: 0.7413
Epoch 91: saving model to checkpoints
804/804 [==============================] - 1s 920us/step - loss: 0.5336 - accuracy: 0.7413
Epoch 92/100
749/804 [==========================>...] - ETA: 0s - loss: 0.5321 - accuracy: 0.7429
Epoch 92: saving model to checkpoints
804/804 [==============================] - 1s 902us/step - loss: 0.5325 - accuracy: 0.7424
Epoch 93/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5324 - accuracy: 0.7412
Epoch 93: saving model to checkpoints
804/804 [==============================] - 1s 891us/step - loss: 0.5323 - accuracy: 0.7419
Epoch 94/100
786/804 [============================>.] - ETA: 0s - loss: 0.5321 - accuracy: 0.7425
Epoch 94: saving model to checkpoints
804/804 [==============================] - 1s 931us/step - loss: 0.5325 - accuracy: 0.7424
Epoch 95/100
772/804 [===========================>..] - ETA: 0s - loss: 0.5333 - accuracy: 0.7405
Epoch 95: saving model to checkpoints
804/804 [==============================] - 1s 951us/step - loss: 0.5323 - accuracy: 0.7418
Epoch 96/100
761/804 [===========================>..] - ETA: 0s - loss: 0.5333 - accuracy: 0.7420
Epoch 96: saving model to checkpoints
804/804 [==============================] - 1s 954us/step - loss: 0.5327 - accuracy: 0.7421
Epoch 97/100
804/804 [==============================] - ETA: 0s - loss: 0.5325 - accuracy: 0.7420
Epoch 97: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7420
Epoch 98/100
767/804 [===========================>..] - ETA: 0s - loss: 0.5325 - accuracy: 0.7412
Epoch 98: saving model to checkpoints
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7414
Epoch 99/100
797/804 [============================>.] - ETA: 0s - loss: 0.5328 - accuracy: 0.7409
Epoch 99: saving model to checkpoints
804/804 [==============================] - 1s 975us/step - loss: 0.5327 - accuracy: 0.7412
Epoch 100/100
803/804 [============================>.] - ETA: 0s - loss: 0.5323 - accuracy: 0.7425
Epoch 100: saving model to checkpoints
804/804 [==============================] - 1s 977us/step - loss: 0.5323 - accuracy: 0.7425

In [220]:
#assess the model
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
nn_model.save("AlphabetSoupCharity.h5")

268/268 - 0s - loss: 0.5564 - accuracy: 0.7265 - 241ms/epoch - 900us/step
Loss: 0.5563595294952393, Accuracy: 0.7265306115150452